Flask
Flask_SocketIO
werkzeug
pymongo
beautifulsoup4
python-socketio
python-engineio
eventlet
gunicorn==0.16.1
greenlet
itsdangerous
Jinja2
MarkupSafe
six
gevent==1.0.2
gevent-socketio==0.3.6
gevent-websocket==0.9.5
