{% include 'top-menu.html' %}
<script id="script" data-mode={{ mode }} src="/static/js/100-darts-at.js"></script>

<body>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <p>Score</p>

                <p id="score">0</p>
            </div>
            <div class="col-md-4">
                <p>Number Of Darts Thrown</p>

                <p id="dartsThrown">0</p>
            </div>
            <div class="col-md-4">
                <p>Points</p>

                <p id="points">0</p>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <a class="btn btn-block btn-lg btn-primary" id="miss">Miss</a>
                <p></p>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <a class="btn btn-block btn-lg btn-primary" id="single">Single</a>
                <p></p>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                 <a class="btn btn-block btn-lg btn-primary" id="double">Double</a>
                <p></p>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <a class="btn btn-block btn-lg btn-primary" id="treble">Treble</a>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>




</body></html>