{% include 'top-menu.html' %}
    <script id="script" data-mode={{ mode }} src="/static/js/around-the-board.js"></script>

<body>

<h1 class="text-center">Around The Board</h1>
<h1 class="text-center">Mode: {{ mode }}</h1>


    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <p>Current Number</p>
            <p id="currentNumber">0</p>
          </div>
          <div class="col-md-6">
            <p>Number Of Darts Thrown</p>
            <p id="score">0</p>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <a class="btn btn-block btn-lg btn-primary" id="hit">Hit</a>
            <p></p>
            <p></p>
          </div>
          <div class="col-md-6">
            <a class="btn btn-block btn-lg btn-primary" id="miss">Miss</a>
            <p></p>
            <p></p>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <p></p>
            <p></p>
          </div>
          <div class="col-md-6">
            <p></p>
            <p></p>
          </div>
        </div>
      </div>
    </div>
  

</body></html>