<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/static/js/bootbox.min.js"></script>

     <script src="/static/js/around-the-world.js"></script>

</head>
<body>

 Total Darts Thrown:  <p id="score">  </p>
 Current Number:  <p id="currentNumber"> </p>
<table class="table">
    <tr>
        <td><button type="button" class="btn btn-primary" id="number1">{{ number1 }}</button>
</td>

    </tr>
        <tr>
        <td><button type="button" class="btn btn-primary" id="number2">{{ number2 }}</button>
</td>

    </tr>
        <tr>
        <td><button type="button" class="btn btn-primary" id="number3">{{ number3 }}</button>
</td>

    </tr>

            <tr>
        <td><button type="button" class="btn btn-primary" id="nohit">No Hit</button>
</td>

    </tr>

</table>

</body>
</html>