{% include 'top-menu.html' %}
<script src="/static/js/bobs-27.js"></script>

<body>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <p>Double To Hit</p>

                <p id="doubleToHit">1</p>
            </div>
            <div class="col-md-4">
                <p>Score</p>

                <p id="score">27</p>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <a class="btn btn-block btn-lg btn-primary" id="nohit">No Hit</a>
                <p></p>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <a class="btn btn-block btn-lg btn-primary" id="single">One Hit</a>
                <p></p>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                 <a class="btn btn-block btn-lg btn-primary" id="double">Two Hits</a>
                <p></p>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <a class="btn btn-block btn-lg btn-primary" id="treble">Three Hits</a>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>




</body></html>