<!DOCTYPE html>
<html lang="en">
{% include 'top-menu.html' %}


<body>

<div class="section">
      <div class="container">
        <div class="row">

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <a class="btn btn-block btn-lg btn-primary" href="#around-the-board" data-toggle="modal" data-target="#around-the-board-modal">Around The Board</a>
                <p></p>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <a class="btn btn-block btn-lg btn-primary"  href="/100-darts-at" data-toggle="modal" data-target="#100-darts-at-modal">Darts At</a>
                <p></p>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                 <a class="btn btn-block btn-lg btn-primary"  href="/bobs-27">Bob's 27</a>
                <p></p>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>


</div>




        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12"></div>
        </div>
      </div>
    </div>


 <div class="modal fade" id="around-the-board-modal" tabindex="-1" role="dialog" aria-labelledby="around-the-board-label" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
				<h4 class="modal-title" id="around-the-board-label">Select A Game Type</h4>
			</div> <!-- /.modal-header -->

			<div class="modal-body">

                <a href="/around-the-board?mode=Any" class="btn btn-block btn-lg btn-primary">Any</a><p></p>
                <a href="/around-the-board?mode=Single" class="btn btn-block btn-lg btn-primary">Single</a><p></p>
                <a href="/around-the-board?mode=Double" class="btn btn-block btn-lg btn-primary">Double</a><p></p>
                <a href="/around-the-board?mode=Treble" class="btn btn-block btn-lg btn-primary">Treble</a>


			</div> <!-- /.modal-body -->
		<div class="modal-footer">
			</div> <!-- /.modal-footer -->
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

 <div class="modal fade" id="100-darts-at-modal" tabindex="-1" role="dialog" aria-labelledby="100-darts-at-label" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
				<h4 class="modal-title" id="100-darts-at-label">Select A Game Type</h4>
			</div> <!-- /.modal-header -->

			<div class="modal-body">

                <a href="/100-darts-at?mode=20" class="btn btn-block btn-lg btn-primary">20</a><p></p>
                <a href="/100-darts-at?mode=19" class="btn btn-block btn-lg btn-primary">19</a><p></p>
                <a href="/100-darts-at?mode=18" class="btn btn-block btn-lg btn-primary">18</a><p></p>
                <a href="/100-darts-at?mode=17" class="btn btn-block btn-lg btn-primary">17</a><p></p>
				<a href="/100-darts-at?mode=16" class="btn btn-block btn-lg btn-primary">16</a><p></p>
				<a href="/100-darts-at?mode=15" class="btn btn-block btn-lg btn-primary">15</a><p></p>
				<a href="/100-darts-at?mode=Bull" class="btn btn-block btn-lg btn-primary">Bull</a><p></p>


			</div> <!-- /.modal-body -->
		<div class="modal-footer">
			</div> <!-- /.modal-footer -->
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

</body>
</html>