{% include 'top-menu.html' %}
<body>
        <div class="cover">
            
            <div class="cover-image" style="background-image : url('http://pingendo.github.io/pingendo-bootstrap/assets/blurry/800x600/14.jpg')"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1 class="text-inverse">Darts Trainer</h1>
                        <p class="text-inverse">The Ultimate Darts Training Tool</p>
                        <br>
                        <br>
                        <a class="btn btn-home btn-lg btn-primary" href="/register">Register</a>
                        <a class="btn btn-home btn-lg btn-primary" data-toggle="modal" data-target="#login-modal">Login</a>
                    </div>
                </div>
            </div>
        </div>


        
    

</body></html>