{% include 'top-menu.html' %}
<script src="/static/js/around-the-world.js"></script>
<script src="/static/js/Chart.js"></script>




<body>

 <div class="section">
      <div class="container">
        <div class="row">

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <a class="btn btn-block btn-lg btn-primary" href="/stats/around-the-board">Around The Board</a>
                <p></p>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <a class="btn btn-block btn-lg btn-primary" href="/stats/100-darts-at">Darts At</a>
                <p></p>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                 <a class="btn btn-block btn-lg btn-primary" href="/stats/bobs-27">Bob's 27</a>
                <p></p>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>


</div>




        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12"></div>
        </div>
      </div>
    </div>
</body>
</html>