{% include 'top-menu.html' %}
    <script src="/static/js/jquery.validate.min.js"></script>
    <script src="/static/js/register.js"></script>


<body>

    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
              {% if message %}
              <div class="alert alert-danger" role="alert">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span class="sr-only">Error:</span>
             {{ message }}
            </div>
              {% endif %}
              <div class="well well-lg">
            <form role="form" id="register" action="auth/register" method="POST">
              <div class="form-group has-feedback">
                <label class="control-label" for="username">Username</label>
                <input class="form-control input-lg" name="username" id="username" placeholder="Enter username" type="text">
              </div>
              <div class="form-group">
                <label class="control-label" for="password">Password</label>
                <input class="form-control input-lg" name="password" id="password" placeholder="Password" type="password">
              </div>
              <div class="form-group has-feedback">
                <label class="control-label" for="email">Email address</label>
                <input class="form-control input-lg" name="email" id="email" placeholder="Enter email" type="email">
              </div>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#info">View Information Sheet</button>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#tandc">View Terms &amp; Conditions</button>
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="agree" value="agree">I have read and agree with the terms &amp; conditions</label>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="over18" value="agree">I am over 18 years old</label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="feedback" value="agree">I give the developer permission to use any feedback I give as part of
                    their university honours project final report and understand this feedback
                    will be anonymised</label>
                </div>
              </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>

          </div>
              </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="info" tabindex="-1" role="dialog" aria-labelledby="Terms and conditions" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title">Information Sheet</h3>
          </div>
          <div class="modal-body">
            <h3>Darts Scorer Project</h3>
            <p>I would like to invite you to participate and aid in the development of
              an online darts scorer. This darts scorer is being used for my final year
              honours project at The University Of Dundee.</p>
            <h3>Participation</h3>
            <p>As a part of my project, I am looking to users of the system to continuously
              provide feedback in order to have a community based development cycle.
              Features and functionality will be given by users and I will implement
              the most commonly suggested features. If you are currently participating
              and change your mind, you may withdraw at any time.</p>
            <h3>How Will I Give Feedback?</h3>
            <p>Feedback will be provided either via the dartsnutz.net forum, via email
              or via a contact form available on the web page.</p>
            <h3>What Kind Of Feedback Will I Provide?</h3>
            <p>The feedback can be anything to do with the system. Any design comments,
              bugs or feature requests can be given.</p>
            <h3>What If I Don't Want To Give Feedback?</h3>
            <p>You are under no obligation as a user to provide feedback of the system.
              You are free to use the system as it is.</p>
            <h3>How Will My Feedback Be Used?</h3>
            <p>Your feedback may be used in two ways. The first way is in requirements
              gathering for the system. Requirements are what a system must do. An example
              of this is “The system must show the 1 dart average during a game of 501”.
              Another way the feedback may be used is in the final report for the system.
              Any feedback that is used in the final report will be anonymous and you
              will not be identified.</p>
            <h3>What Happens With Any Data That Is Gathered?</h3>
            <p>All data that is collected will be treated with full confidentiality.
              Users will not be identified at any point.</p>
            <h3>What Happens At The End Of The Project?</h3>
            <p>Development may or may not continue at the end of the project. If development
              does continue, your feedback will continue to be used to gather new requirements.</p>
            <h3>Who Can I Contact In Regards To This Project?</h3>
            <p>This project is part of a University Honours project which is being supervised
              by Dr Katarzyna Budzynska.
              <br>
              <br>Dr Budzynska can be contacted at:
              <br>+44 1382 384153
              <br>k.budzynska@dundee.ac.uk
              <br>
              <br>You can also contact Professor Emanuele Trucco who is the lead of computing
              at Dundee University.
              <br>
              <br>Prof. Trucco can be contacted at:
              <br>+44 1382 386504
              <br>e.trucco@dundee.ac.uk
              <br>
              <br>As the developer, I can be contacted at:
              <br>j.w.kerr@dundee.ac.uk</p>
            <h3>Thank You</h3>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="agreeButton" data-dismiss="modal">OK</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="tandc" tabindex="-1" role="dialog" aria-labelledby="Terms and conditions" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title">Consent Form</h3>
          </div>
          <div class="modal-body">
            <h3>1. User Feedback</h3>
            <p>By registering for this darts scoring application, you agree to allow
              the developer to use any feedback given as part of a final project report,
              to be submitted on Monday 2nd May 2016. Your personal details will remain
              anonymous to ensure strict confidentiality. You also agree to allow the
              developer to implement any future functionality that you may suggest.</p>
            <h3>2. Website Functionality</h3>
            <p>The developer is under no obligation to provide specific functionality
              of the darts scorer. The functionality and features of the darts scorer
              is subject to change without any prior notice from the developer.</p>
            <h3>3. User Content</h3>
            <p>You agree that any content posted by you does not violate the intellectual
              property rights of others, and that you have the rights to post this content.
              The developer reserves the right to remove any user content at any time,
              without question.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="agreeButton" data-dismiss="modal">OK</button>
          </div>
        </div>
      </div>
    </div>
  

</body></html>