<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
{{message}}
<form id="register" action="auth/register" method="POST">
    Email: <input type="text" name="email"><br>
    Password: <input type="password" name="password"><br><br>
    Information<br>
    <textarea readonly cols="80" rows="20">
    Darts Scorer Project

I would like to invite you to participate and aid in the development of an online darts scorer. This darts scorer is being used for my final year honours project at The University Of Dundee.

Participation

As a part of my project, I am looking to users of the system to continuously provide feedback in order to have a community based development cycle. Features and functionality will be given by users and I will implement the most commonly suggested features.

What If I Don't Want To Give Feedback?

You are under no obligation as a user to provide feedback of the system. You are free to use the system as it is.

How Will My Feedback Be Used?

Your feedback may be used in two ways. The first way is in requirements gathering for the system. Requirements are what a system must do. An example of this is “The system must show the 1 dart average during a game of 501”. Another way the feedback may be used is in the final report for the system. Any feedback that is used in the final report will be anonymous and you will not be identified.

What Happens At The End Of The Project?

Development may or may not continue at the end of the project. If development does continue, your feedback will continue to be used to gather new requirements.

Who Can I Contact In Regards To This Project?

This project is part of a University Honours project which is being supervised by Dr Katarzyna Budzynska.

Dr Budzynska can be contacted at:
+44 1382 384153
budzynska.argdiap@gmail.com


You can also contact Professor Emanuele Trucco who is the lead of computing at Dundee University.

Prof. Trucco can be contacted at:
+44 1382 386504
manueltrucco@computing.dundee.ac.uk

As the developer, I can be contacted at:
j.w.kerr@dundee.ac.uk

Thank You</textarea><br>

    Terms & conditions <br>
    <textarea readonly cols="80" rows="20">Terms & Conditions
    1. User Feedback
    By registering for this darts scoring application, you agree to allow the developer to use
    any feedback given as part of a final project report, to be submitted on Monday 2nd May
    2016. Your personal details will remain anonymous to ensure strict confidentiality. You
    also agree to allow the developer to implement any future functionality that you may
    suggest.
    2. Website Usage
    When using the darts scorer, you should not:
    • Utilise web scripting to gain an unfair advantage
    • Advertise the website as your own
    • Allow others to access your account
    3. Website Functionality
    The developer is under no obligation to provide specific functionality of the darts scorer.
    The functionality and features of the darts scorer is subject to change without any prior
    notice from the developer.
    4. User Content
    You agree that any content posted by you does not violate the intellectual property rights
    of others, and that you have the rights to post this content. The developer reserves the
    right to remove any user content at any time, without question.
    If you have any questions or concerns, please email me at j.w.kerr@dundee.ac.uk</textarea><br><br>
     <input type="checkbox" name="age" value="age">I am 18 years old or over<br>
    <input type="checkbox" name="agreeterms" value="agreeterms">I have read and agree to the terms & conditions<br>
    <input type="checkbox" name="agreefeedback" value="agreefeedback">I give the developer permission to use any
feedback I give as part of their university honours project final report<br>
    <button type="submit">Register Account</button>

</form>
</body>
</html>