<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<form id="scorer">
    <input type="text" id="score">
<table class="table">
    <tr>
        <td><button type="button" class="btn btn-primary">1</button>
</td>
        <td><button type="button" class="btn btn-primary">2</button>
</td>
        <td><button type="button" class="btn btn-primary">3</button>
</td>
    </tr>
        <tr>
        <td><button type="button" class="btn btn-primary">4</button>
</td>
        <td><button type="button" class="btn btn-primary">5</button>
</td>
        <td><button type="button" class="btn btn-primary">6</button>
</td>
    </tr>
        <tr>
        <td><button type="button" class="btn btn-primary">7</button>
</td>
        <td><button type="button" class="btn btn-primary">8</button>
</td>
        <td><button type="button" class="btn btn-primary">9</button>
</td>
    </tr>
        <tr>
        <td><button type="button" class="btn btn-primary">Del</button>
</td>
        <td><button type="button" class="btn btn-primary">0</button>
</td>
        <td><button type="button" class="btn btn-primary">Enter</button>
</td>
    </tr>
</table>
    </form>
</body>
</html>