<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>



    <script src="/static/js/bootbox.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="\static\css\custom.css" rel="stylesheet" type="text/css">



  </head>
<body>
<div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><span>Darts Trainer</span></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-ex-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="">
              <a href="/">Home</a>
            </li>
              {% if session['username'] %}
            <li class="">
                <a href="/games"><i class="fa fa-fw fa-gamepad"></i>Games</a>
            </li>
              <li class="">
              <a href="/profile"><i class="fa fa-fw fa-user"></i>Profile</a>
            </li>
            <li>
              <a href="/logout"><i class="fa fa-fw fa-sign-out"></i>Logout</a>
            </li>

              {% else %}

               <li class="">
              <a href="/register"><i class="fa fa-fw fa-user"></i>Register</a>
            </li>
            <li>
              <a href="#login" data-toggle="modal" data-target="#login-modal"><i class="fa fa-fw fa-sign-out"></i>Login</a>
            </li>



        {% endif %}
          </ul>
        </div>
      </div>
    </div>

             <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title" id="myModalLabel">Log in</h4>
			</div> <!-- /.modal-header -->

			<div class="modal-body">
				<form id="login" action="auth/login" method="POST">
					<div class="form-group">
						<div class="input-group">
							<input type="text" class="form-control" name="username" placeholder="Login">
							<label class="input-group-addon glyphicon glyphicon-user"></label>
						</div>
					</div> <!-- /.form-group -->

					<div class="form-group">
						<div class="input-group">
							<input type="password" class="form-control"  name="password" placeholder="Password">
							<label class="input-group-addon glyphicon glyphicon-lock"></label>
						</div> <!-- /.input-group -->
					</div> <!-- /.form-group -->

					<div class="checkbox">
						<label>
							<input type="checkbox"> Remember me
						</label>
                        <button type="submit" class="form-control btn btn-primary">Sign In</button>
					</div> <!-- /.checkbox -->
				</form>

			</div> <!-- /.modal-body -->
		<div class="modal-footer">
			</div> <!-- /.modal-footer -->
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</body>
</html>